@model MyContacts2.Models.Person
    @{
        ViewBag.Title = "Edit";
    }

    <h2>Edit</h2>
    <hr />
    <form action="/Home/Edit" method="post">
        <input type="hidden" name="ID" value="@Model.ID"/>
        <dl class="dl-horizontal">
            <dt>
                FullName:
            </dt>
            <dd>
                <input type="text" class="form-control" name="FullName" value="@Model.FullName"/>
            </dd>
            <dt>
                Email:
            </dt>
            <dd>
                <input type="email" class="form-control" name="Email" value="@Model.Email"/>
            </dd>
            <dt>
                Website:
            </dt>
            <dd>
                <input type="url" class="form-control" name="Website" value="@Model.Website"/>
            </dd>
            <dt>
                Mobail:
            </dt>
            <dd>
                <input type="number" class="form-control" name="Mobail" value="@Model.Mobail"/>
            </dd>
            </dd>
            <dt>

            </dt>
            <dd>
                <input type="submit" class="btn btn-warning" value="Edit" />
            </dd>
        </dl>

